.ttl {
    &-md {
        font-weight: 400;
    }

    &-md {
        font-size: to-rem(21);

        @include layout-1024() {
            font-size: to-rem(34);
        }
    }
}

.txt {
    &-md {
        font-size: to-rem(21);
    }

    &-sm {
        font-size: to-rem(13);
    }
}
