:root {
    --white: #ffffff;
    --black: #000000;
    --grey-1: #aeb5b7;
    --grey-2: #e6e6e6;
    --grey-3: #494d50;
    --dark-blue: rgb(0, 51, 86);
}

html,
body {
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    @extend .noto-sans;

    width: 100%;
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--white);
    color: var(--black);
}

q,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
label,
ul,
ol,
figure,
video,
image,
iframe,
figure,
picture,
blockquote {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

ul,
ol {
    list-style: none;
}

a {
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
    color: inherit;
}

button {
    @extend %RESET-BUTTON;
}

select > option {
    font-family: 'Fira Sans', sans-serif;
}

.hdn {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.hdn.focusable:active,
.hdn.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
