@import '_variables';
@import '_fonts';
@import '_mixins';
@import '_placeholders';
@import '_structure';
@import './common/utilities';
@import './navbar';
@import './footer';
@import './search';

.app__main {
    position: relative;
    padding: to-rem(80) to-rem(20) to-rem(90);
    margin: 0 auto;
    box-sizing: border-box;
    height: calc(100vh - to-rem(90));
    display: flex;
    overflow-y: auto;

    @include layout-540 {
        height: calc(100vh - to-rem(60));
    }

    &__sub-container {
        position: relative;
        max-height: 100%;
        padding: to-rem(40) to-rem(20);
        box-sizing: border-box;

        @include layout-1024 {
            padding: to-rem(60) to-rem(120);
        }
    }
}
