@import '_variables';
@import '_mixins';
@import '_placeholders';
@import '_structure';
@import './common/utilities';
@import './navbar';
@import './footer';
@import './search';

.app__main {
    position: relative;
    padding: to-rem(80) to-rem(20) to-rem(90);
    margin: 0 auto;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
}