.footer {
    position: fixed;
    display: flex;
    width: 100%;
    padding: to-rem(9) to-rem(20);
    bottom: 0;
    left: 0;
    flex-direction: column;
    align-items: center;

    &__links {
        @extend .txt-sm;

        list-style: none;
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: to-rem($F5);

        &__item {
            &:not(:first-of-type) {
                &::before {
                    content: '|';
                    padding: 0 to-rem(5);
                    position: relative;
                }
            }
        }
    }

    &__copy {
        @extend .txt-sm;
    }
}