.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: to-rem(9) to-rem(20);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.15);
    align-items: center;
    background-color: white;
    z-index: 1;

    &__title {
        @extend .noto-bold;

        white-space: nowrap;
    }

    &__right {
        display: flex;
        justify-content: space-between;
    }

    &__links {
        list-style: none;

        &-item {
            &:not(:first-of-type) {
                &::before {
                    content: '|';
                    padding: 0 to-rem(5);
                    position: relative;
                }
            }
        }
    }

    &__language {
        @extend .fira-code;

        width: to-rem(70);
        margin-left: to-rem(20);
        padding: to-rem(5);
        box-sizing: border-box;
        white-space: nowrap;
        text-overflow: ellipsis;
        border: 1px solid var(--black);
        border-radius: to-rem(5);

        // Vendor prefixes for compatibility
        @supports (-webkit-appearance: none) or (-moz-appearance: none) {
            -webkit-appearance: none;
            -moz-appearance: none;
        }

        &::after {
            content: '▼';
            margin-left: to-rem(5);
        }

        &:focus {
            outline: 2px solid var(--orange);
            border: 1px solid var(--orange);
        }
    }
}
