@import '_variables';
@import '_mixins';
@import '_placeholders';

.search {
    max-width: to-rem(320);
    position: relative;
    margin: 0 auto;
    padding: 0 to-rem(5) to-rem(21);
    box-sizing: border-box;
    display: flex;
    flex-direction: column-reverse;
    flex: 1;
    align-self: stretch;
    overflow: hidden;

    &__form {
        display: flex;
        flex-direction: column-reverse;

        &__searchbox {
            display: flex;
            justify-content: space-between;
            border: 1px solid var(--orange);
            border-radius: to-rem(5);
            overflow: hidden;

            input {
                border-color: transparent;
                border-radius: to-rem(5);
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                width: 100%;
                padding: 0 to-rem(5);

                &:focus {
                    outline: none; // Remove focus border
                }
            }

            button {
                border-radius: to-rem(5);
                padding: to-rem(5) to-rem(10);
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                background-color: var(--orange);
                color: var(--white);

            }
        }

        &__clear {
            display: flex;
            flex-direction: row-reverse;

            button {
                padding: to-rem(5) 0;
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }

    &__answers {
        max-height: 100%;
        overflow-y: auto;
        min-height: 0;

        li {
            list-style: none;
            display: flex;
            flex-direction: column;
    
        }

        &__question {
            font-size: to-rem(16);
            margin-bottom: to-rem(5);
            background-color: var(--pink);
            color: var(--white);
            border-radius: to-rem(10);
            border-bottom-left-radius: 0;
            padding: to-rem(20) to-rem(10);
        }

        &__answer {
            display: flex;
            flex-direction: column-reverse;
          
            margin-bottom: to-rem(5);
            background-color: var(--blue);
            text-align: right;
            border-radius: to-rem(10);
            border-bottom-right-radius: 0;
            padding: to-rem(20) to-rem(10);

            span:last-child {
                font-size: to-rem(10);
                color: var(--orange);
                padding-bottom: to-rem(5);
                text-transform: uppercase;
                font-weight: 600;
            }

            span:first-child {
                color: var(--white);
                font-size: to-rem(16);
            }
        }
    }
}
